<!-- Filter Section -->
<div class="date-filter">
  <div class="filter_cont">
    <label for="dateFilter">
      <i class="fas fa-calendar-alt"></i> Filter by Date:
    </label>
    <input type="date" id="dateFilter" [(ngModel)]="selectedDate" />

    <button class="filter-btn" (click)="filterByDate()">
      <i class="fas fa-filter"></i> Filter
    </button>
  </div>
  <div class="search-wrapper">
    <i class="fas fa-search search-icon"></i>
    <input
      type="text"
      placeholder="Search by name or email"
      [(ngModel)]="searchQuery"
      (input)="searchUsers()"
      class="search-input"
    />
  </div>

  <div class="download_container">
    <button
      class="download-btn"
      [disabled]="isDownloading"
      (click)="downloadExcel()"
    >
      <i class="fas fa-download"></i>
      {{ isDownloading ? 'Downloading...' : 'Download Excel' }}
    </button>
  </div>
</div>

<!-- Table -->
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody [@tableAnimation]>
    <tr *ngFor="let user of users">
      <td>{{ user._id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.createdAt | date: 'MMM d, y, h:mm a' }}</td>
    </tr>
  </tbody>
</table>

<!-- Displaying error if user array is empty -->
<p *ngIf="noUsersFound" class="no-users-msg">No users found</p>

<!-- Pagination -->
<div class="pagination">
  <button
    *ngIf="!noUsersFound"
    (click)="changePage(currentPage - 1)"
    [disabled]="currentPage === 1"
  >
    Prev
  </button>

  <button
    *ngFor="let page of pages"
    [class.active]="page === currentPage"
    (click)="changePage(page)"
    [disabled]="page === -1"
  >
    {{ page === -1 ? '...' : page }}
  </button>

  <button
    *ngIf="!noUsersFound"
    (click)="changePage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
    Next
  </button>
</div>
